global:
  smtp_smarthost: '{{ services.alertmanager.smarthost }}'
  smtp_from: '{{ services.alertmanager.email }}'
  smtp_auth_username: '{{ services.alertmanager.email }}'
  smtp_auth_password: '{{ services.alertmanager.password }}'
route:
  group_by: ['alertname']
  group_wait: 30s
  group_interval: 30s
  repeat_interval: 1h
  receiver: jm-alerts

  routes:
  - match:
      job: prometheus
    receiver: jm-alerts
    repeat_interval: 1h

receivers:
- name: 'jm-alerts'
  email_configs:
  - to: '{{ services.alertmanager.email }}'
